@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: Tutor;
  src: url(./assets/fonts/Tutor.ttf);
}
@font-face {
  font-family: LexendDeca;
  src: url(./assets/fonts/LexendDecaRegular.ttf);
}
#certi{
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
}

@tailwind base;
@tailwind components;
@tailwind utilities;